.header ,css-9sbomz-euiFlexItem-grow-1{  
  display: flex;
  justify-content: center;
  align-items: center;
}


.sign-up ,css-1drqwgc-euiFlexGroup-responsive-l-flexStart-stretch-row{
  margin: 100px 50px 0 50px  ; 
}